@model IEnumerable<PandaTea.Models.MenuModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home-container">
    @*<div class="reward-bar">
        <img src="~/images/reward-bar.png" alt="reward-bar" />
    </div>*@
    <div class="bbt-container">
        <div class="bbt">
            <div>
                <div class="bbt-img">
                    <img src="~/images/strawberry-explosion.png" alt="strawberry-explosion" />
                </div>
                <div class="bbt-review">
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star.png" alt="star" class="star" />
                </div>
            </div>
            <div class="bbt-name">
                Strawberry Explosion
            </div>
        </div>
        <div class="bbt">
            <div>
                <div class="bbt-img">
                    <img src="~/images/mango-delight.png" alt="mango-delight" />
                </div>
                <div class="bbt-review">
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star.png" alt="star" class="star" />
                </div>
            </div>
            <div class="bbt-name">
                Mango Delight
            </div>
        </div>
        <div class="bbt">
            <div>
                <div class="bbt-img">
                    <img src="~/images/creamy-avocado.png" alt="creamy-avocado" />
                </div>
                <div class="bbt-review">
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star.png" alt="star" class="star" />
                </div>
            </div>
            <div class="bbt-name">
                Creamy Avocado
            </div>
        </div>
        <div class="bbt">
            <div>
                <div class="bbt-img">
                    <img src="~/images/coffee-chill.png" alt="coffee-chill" />
                </div>
                <div class="bbt-review">
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star.png" alt="star" class="star" />
                </div>
            </div>
            <div class="bbt-name">
                Coffee Chill
            </div>
        </div>
        <div class="bbt">
            <div>
                <div class="bbt-img">
                    <img src="~/images/zen-matcha.png" alt="zen-matcha" />
                </div>
                <div class="bbt-review">
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star.png" alt="star" class="star" />
                </div>
            </div>
            <div class="bbt-name">
                Zen Matcha
            </div>
        </div>
        <div class="bbt">
            <div>
                <div class="bbt-img">
                    <img src="~/images/taro-basic.png" alt="taro-basic" />
                </div>
                <div class="bbt-review">
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star.png" alt="star" class="star" />
                </div>
            </div>
            <div class="bbt-name">
                Taro Basic
            </div>
        </div>
    </div>
</div>  
@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MenuId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MenuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MenuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
