@*  Index.cshtml

    PROG3050: Programming Microsoft Enterprise Applications
    Group 7

    Revision History
             Samantha Dang, 2019-10-31: Hide User information
             Haeryun Kwon, 2019-11-18: Modified
             Ji Hong Ahn, 2019-11-18: Bind model for index page
*@

@model IEnumerable<PandaTea.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Quantity, DatePurchased, MenuId, StoreId -->

<div id="order-container">
    <div id="heading">Purchase History</div>
    <div>
        @foreach (var item in Model)
        {
            <div class="history-box">
                <div class="history-box-content">
                    <div class="date">@item.DatePurchased</div>
                    <div>
                        <div id="small-title">@item.Menu.Product.ProductName</div>
                        <div>Size: @item.Menu.Size</div>
                        <div>Quantity: @item.Quantity</div>
                        <div>Unit Price: $@item.Menu.Price</div>
                    </div>
                    <div class="location">
                        <img src="../images/location.png" />
                        <div>@item.Store.StoreName, @item.Store.State, @item.Store.PostalCode</div>
                    </div>
                    <div class="order-total">
                        <img src="../images/money.png" />
                        @{
                            var orderTotal = item.Menu.Price * item.Quantity;
                            <div>Order Total: $@orderTotal</div>
                        }

                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#details-btn").click(function () {
                $("#history-modal").css("display", "block");
            });
        });
        $(".modal-close").click(function () {
            $("#history-modal").css("display", "none");
        });
    </script>
}